@use "../../Styles/Colors.scss" as c;

.Services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-grow: 1;
  color: c.$black;
  max-width: 90em;
  margin: 3rem auto;
  gap: 2rem;

  &__service {
    width: 300px;

    &__icon {
      width: 150px;
      aspect-ratio: 1/1;
      margin: 0 auto;
      border-radius: 50%;
      border: 2px solid c.$primary-blue;
      transform: translateY(-1rem);
      display: grid;
      place-content: center;
      z-index: 1;
    }

    &__name {
      font-size: 1.25rem;
      font-weight: 700;
      text-align: center;
      padding: 1rem 0.5rem;
      background: c.$primary-blue;
      color: c.$white;
    }

    &__content {
      padding: 10px;
      border: 2px solid c.$primary-blue;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      font-size: 1.125rem;
    }
  }
}
