@use "../../Styles/Colors.scss" as c;

$service-width: 300px;
$service-gap: 3rem;

.Services {
  background-image: url("../../Assets/services-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 1rem 0;

  &__header {
    padding: 3rem 0;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    color: c.$white;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 1;
    color: c.$black;
    max-width: calc(($service-width * 3) + ($service-gap * 2));
    margin: 3rem auto;
    gap: $service-gap;

    @media (min-width: 997px) {
      justify-content: flex-start;
    }

    &__service {
      width: $service-width;
      min-height: 30em;
      display: flex;
      flex-direction: column;

      &__icon {
        width: calc($service-width / 2);
        aspect-ratio: 1/1;
        margin: 0 auto;
        margin-bottom: -1rem;
        border-radius: 50%;
        background: c.$white;
        display: grid;
        place-content: center;
        z-index: 1;
        outline: 2px solid c.$primary-blue;
        outline-offset: -5px;

        img {
          width: 50%;
          margin: 0 auto;
        }
      }

      &__name {
        font-size: 1.25rem;
        font-weight: 700;
        text-align: center;
        padding: 1rem 0.5rem;
        background: c.$primary-blue;
        color: c.$white;
        margin-top: 0.25rem;
      }

      &__content {
        padding: 10px;
        border: 2px solid c.$primary-blue;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        font-size: 1.125rem;
        flex-grow: 1;
        justify-content: center;
        background: c.$white;

        &__text {
          flex-grow: 1;
        }

        &__timeframe,
        &__price {
          font-size: 0.95rem;
        }
      }
    }
  }
}
