@use "../../Styles/Colors.scss" as c;

$service-width: 300px;
$service-gap: 3rem;

.Services {
  background-image: url("../../Assets/services-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 1rem 0;

  &__header {
    padding: 3rem 0;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    color: c.$white;
  }

  &__content {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    color: c.$black;
    margin: 3rem auto;
    gap: $service-gap;
    padding-inline: 1rem;
    max-width: 90em;

    @media (min-width: 60em) {
      grid-template-columns: 1fr 1fr;
    }

    &__service {
      display: flex;
      flex-direction: column;
      max-width: 65ch;
      background-color: c.$white;
      box-shadow: 2px 2px 4px 2px rgba(c.$black, 0.3);
      border-radius: 0.5rem;

      &__name {
        font-size: 1.25rem;
        font-weight: 700;
        padding: 1rem;
        margin-top: 0.25rem;
      }

      &__content {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
        gap: 1rem;
        font-size: 1.125rem;
        background: c.$white;
        border-radius: 0.5rem;

        &__text {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          position: relative;
          isolation: isolate;
          padding-bottom: 35px;

          > ul > li {
            margin-left: 1.125rem;
          }
        }

        &__timeframe,
        &__price {
          font-size: 0.95rem;
        }

        button {
          background: c.$primary-blue;
          color: c.$white;
          padding: 0.5rem 1rem;
          border: 0;
          font-size: 1rem;
          width: fit-content;
        }
      }
    }
  }
}
