@use "../../Styles/Colors.scss" as c;

.ContactForm {
  position: fixed;
  top: 0;
  min-height: 100vh;
  width: 100vw;
  background: rgba(c.$black, 0.7);
  display: none;
  z-index: 50;

  &-show {
    display: block;
  }

  &__wrapper {
    max-width: 800px;
    min-height: 100vh;
    margin: auto;
    gap: 1rem;
    background: linear-gradient(c.$white -20%, c.$primary-blue 100%);
    position: relative;

    &__header {
      background: c.$primary-blue;
      color: c.$white;
      font-size: 1.5rem;
      width: 100%;
      max-width: 800px;
      margin: auto;
      position: relative;
      text-align: center;
      padding: 0.25rem 0;

      &__close {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background: c.$primary-red;
        color: c.$white;
        border: 2px solid c.$white;
        border: 0;
        box-shadow: 0;
        aspect-ratio: 1/1;
        cursor: pointer;
        font-size: 1.25rem;
      }
    }

    &__location {
      display: flex;
      gap: 0.75rem;
      padding: 1rem 10px;

      .toggle-btn {
        position: relative;
        display: grid;
        place-content: center;
        min-width: 50px;
        background: c.$black;
        cursor: pointer;
        border-radius: 200px;
        border: 1px solid c.$white;
        box-shadow: inset 1px 1px 2px #999;

        &__checkbox-dup {
          position: absolute;
          border-radius: inherit;
          width: 55%;
          height: 100%;
          background: c.$primary-blue;
          box-shadow: inset 1px 1px 2px #33cdfd;
          transition: right 150ms ease-in;
          right: 45%;
        }

        &__checkbox-dup--active {
          right: 0;
        }

        input[type="checkbox"] {
          width: 0;
          height: 0;
        }
      }
    }

    &__form {
      display: flex;
      flex-direction: column;
      max-width: 300px;
      min-height: 100vh;
      margin: 0 auto;
      justify-content: center;
      gap: 0.5rem;

      &__group {
        display: flex;
        flex-direction: column;

        input,
        select {
          box-shadow: none;
          border: 1px solid c.$primary-blue;
          border-radius: 200px;
          padding: 0.5rem 0.75rem;
          background: c.$white;
        }
      }

      button {
        background: c.$primary-blue;
        color: c.$white;
        border: 0;
        box-shadow: none;
        border-radius: 200px;
        padding: 0.5rem 1rem;
        font-weight: 600;
        font-size: 1.125rem;
        display: flex;
        justify-content: center;
        margin-right: auto;
        cursor: pointer;
        min-width: 100px;
      }
    }
  }

  .status-message {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 55;
    width: 100%;
    max-width: 800px;
    background: c.$white;
    text-align: center;
    // box-shadow: 1px 1px 3px 2px c.$black;
    display: flex;
    flex-direction: column;

    button {
      margin-left: auto;
      border: 0;
      box-shadow: none;
      padding: 0.25rem 0.5rem;
      background: c.$primary-red;
      color: c.$white;
      text-align: center;
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      aspect-ratio: 1/1;
      font-size: 1.125rem;
      max-height: 50px;
    }

    span {
      flex-grow: 1;
      display: grid;
      place-content: center;
      padding: 0.5rem 0;
      font-size: 1.25rem;
    }

    &-success {
      background: #0a9432;
      color: c.$white;
    }

    &-fail {
      background: c.$primary-red;
      color: c.$white;

      button {
        background: c.$white;
        color: c.$primary-red;
      }
    }
  }

  &__loading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    background: c.$primary-blue;
    color: c.$white;
    position: absolute;
    inset: 0;

    i {
      font-size: 3rem;
    }
  }
}
