@use "../../Styles/Colors.scss" as c;

$gallery-item-width: 300px;
$gallery-breakpoint: calc(($gallery-item-width * 2) + 1rem);
$gallery-max-width: 60em;

.Gallery {
  background-image: url("../../Assets/partners-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  padding: 1rem 0;
  min-height: 1000px;
  display: flex;
  flex-direction: column;

  &__header {
    padding: 1.5rem 0;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    color: c.$white;
  }

  &__content {
    display: grid;
    gap: 1rem;
    margin: 2rem auto;

    @media (min-width: 848px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (min-width: 1200px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &__smedia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: c.$primary-red;
    color: c.$white;
    padding: 1rem 0;

    h4 {
      font-size: 1.3rem;
    }

    &__content {
      display: flex;
      gap: 1rem;
      padding: 1rem 0;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        color: c.$primary-blue;
        background: c.$white;
        border: 1px solid c.$white;
        border-radius: 5px;
        padding: 0.5rem 1rem;
        font-size: 1.25rem;

        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}

.GalleryItem {
  margin: 0 auto;
  border-radius: 5px;
  border: 3px solid c.$white;
  outline: 3px solid c.$black;
  outline-offset: -5px;

  img {
    max-width: 350px;
    object-fit: cover;
    height: 100%;
  }
}
