@use "../../Styles/Colors.scss" as c;

.Partners {
  width: 100vw;
  display: flex;
  flex-direction: column;

  &__header {
    padding: 3rem 0;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
  }

  &__content {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem 0;

    &__partner {
      background: c.$gray;
      color: c.$black;
      aspect-ratio: 1/1;
      width: 70px;
      display: grid;
      place-content: center;
    }
  }
}
