@use "../../Styles/Colors.scss" as c;

.Partners {
  background-image: url("../../Assets/services-bg.png");
  background-repeat: no-repeat;
  background-size: 250% 300%;
  background-position: top;
  padding: 1rem 0;

  &__header {
    padding: 1.5rem 0;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    color: c.$white;
  }

  &__content {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem 0;

    &__partner {
      background: c.$white;
      color: c.$black;
      aspect-ratio: 1/1;
      width: 100px;
      display: grid;
      place-content: center;
      box-shadow: 2px 2px 5px c.$black;
      border-radius: 50% 25% / 50% 25%;
    }
  }
}
